body {
  margin: 50px;
  background: #f6c4e6;
  font-family: Arial, Helvetica, sans-serif;
}

.counter-container {
  background: black;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.counter-box {
  background: #20131b;
  color: white;
  font-size: 60px;
  font-weight: bold;
  width: 120px;
  height: 17git status0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.icon {
  font-size: 60px;
}

.reset-btn {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: rgb(158, 105, 136);
}

.reset-btn:hover {
  background: #ddd;
}

