body {
  background: linear-gradient(135deg, #ef6ddb, #de4dd7);
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-wrapper {
  text-align: center;
  color: #78062f;
}

.title {
  font-size: 5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(27, 20, 20, 0.5);
}

.counter-display {
  font-size: 5rem;
  font-weight: bold;
  background: #635b5b;
  color: #630729; 
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px #500241, inset 0 0 10px #e9e6e6;
  letter-spacing: 5px;
}

.subtitle {
  margin-top: 15px;
  font-size: 1.2rem;
  opacity: 0.8;
}